version: "3"

services:

  mariadb:
    restart: unless-stopped
    image: mariadb:latest
    ports:
    # Database port will be open only on localhost for security 
    - 127.0.0.1:3308:3306
    volumes:
    # Path to folder of local filesystem with database files
    - ./database/mariadb:/var/lib/mysql
    environment:
    # Parameters which will be used in application
    - MYSQL_ROOT_PASSWORD=euiti2019
    - MYSQL_ROOT_HOST=%
    - MYSQL_DATABASE=security
    - MYSQL_USER=euiti
    - MYSQL_PASSWORD=euiti2019
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s

  application:
    build: .
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
    # Database parameters of app
    - DB_HOST=mariadb
    - DB_NAME=security
    - DB_USER=euiti
    - DB_PASS=euiti2019
    # Settings of php.ini
    - PHP_SHORT_OPEN_TAG=On
    - PHP_ERROR_REPORTING=E_ALL
    - PHP_DISPLAY_ERRORS=On
    - PHP_HTML_ERRORS=On
    - PHP_XDEBUG_ENABLED=true
    ports:
    - 8888:80

